# Node modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
